.banner {
  background: var(--azul-degrade);
  color: var(--branco);
  text-align: center;
  padding: 2rem;
}

.banner__titulo {
 font-size: 18px; 
 font-weight: 700;
 margin-bottom: 1rem;
}

.banner__texto {
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 1rem;
}

.banner__pesquisa {
  border: 1px solid var(--branco);
  border-radius: 24px;
  background: transparent;
  border-color: var(--branco);
  color: var(--branco);
  margin-bottom: .5rem;
  padding: .5rem 1rem;
  width: 100%;
}

.banner__pesquisa::placeholder {
  background: url('../img/lupa.svg') no-repeat;
  background-position: .5rem;
  color: var(--branco);
  font-family: (--fonte-principal);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .banner {
    padding: 4rem;
  }

  .banner__titulo {
    font-size: 2rem;
  }

  .banner__pesquisa {
    padding: 1rem;
    width: 50%;
  }

  .banner__pesquisa::placeholder {
    background-position: 4rem;
  }
}