.carrossel__titulo {
  background-color: var(--branco);
  color: var(--laranja-titulo);
  font-size: 18px;
  font-weight: 700;
  padding: 1rem 0 .5rem 0;
  text-align: center;
  text-transform: uppercase;
}

.swiper-slide img {
  width: 100%;
}

.swiper-pagination {
  position: initial;
  margin: .5rem;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

