.cabecalho {
  display: flex;
  align-items: center;
  background-color: var(--branco);
  justify-content: space-between;
  position: relative;
}

.container {
  align-items: center;
  display: flex;
}

.cabecalho__menu-botao {
  display: none;
}

.cabecalho__menu-hamburguer {
  background-image: url('../img/Menu.svg');
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 24px;
  width: 24px;
}

.cabecalho__imagem {
  padding: 1rem;
}

.lista__menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
  z-index: 10;
}

.cabecalho__menu-botao:checked~.lista__menu {
  display: block;
  width: auto;
}

.cabecalho__menu-botao:checked~.menu__label>.cabecalho__menu-hamburguer {
  background-image: url(../img/MenuAberto.svg);
}

.cabecalho__menu-botao:checked~.menu__label {
  background: var(--azul-degrade);
}

.lista__menu-titulo,
.lista__menu-item {
  padding: 1rem;
  background-color: var(--branco);
}

.lista__menu-titulo {
  color: var(--laranja-titulo);
  font-weight: 700;
}

.lista__menu-link {
  background: var(--azul-degrade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.cabecalho__imagem-texto {
  display: none;
}

.cabecalho__titulo,
.cabecalho__menu {
  display: none;
}

@media screen and (min-width: 816px) {

  .cabecalho {
    display: flex;
    justify-content: space-around;
  }

  .cabecalho__menu-hamburguer,
  .cabecalho__imagem-favorito {
    display: none;
  }

  .cabecalho__titulo {
    display: block;
    font-family: var(--fonte-secundaria);
    font-size: 30px;
    font-weight: 400;
  }

  .cabecalho__titulo-negrito {
    font-weight: 700;
  }

  .cabecalho__menu {
    display: flex;
    align-items: center;
  }

  /* #cabecalho__menu-categorias:checked ~ .cabecalho__menu-categorias > .cabecalho__menu-item {
    background: var(--preto);
  } */

  .cabecalho__menu-item {
    cursor: pointer;
    margin: 0 1rem;
    padding: 1.8rem 1rem;
    text-transform: uppercase;
  }

  .cabecalho__menu-botao:checked ~ .lista__menu {
    margin-left: 1rem;
  }

  .cabecalho__menu-botao:checked~.cabecalho__menu-label>.cabecalho__menu-item {
    background: var(--azul-degrade);
    color: var(--branco);
  }

  .lista__menu-item:hover {
    background: var(--azul-degrade);
    cursor: pointer;
  }
  
  .lista__menu-item:hover > .lista__menu-link {
    -webkit-text-fill-color: var(--branco);
    text-decoration: none;
  }

  .cabecalho__menu-link {
    text-decoration: none;
    color: var(--preto);
  }
}

@media screen and (min-width: 1600px) {

  .cabecalho__imagem-texto {
    color: var(--preto);
    display: block;
    font-size: 1.2rem;
    margin-right: 2rem;
    text-decoration: none;
  }
}