hr {
  margin: 0;
}

.rodape {
  background-color: #F9F9F9;
  padding: 1rem;
}

.rodape__lista {
  display: none;
}

@media screen and (min-width: 1024px) {
  
  .rodape {
    display: flex;
    justify-content: space-around;
    padding: 4rem 0;
  }

  .rodape__titulo {
    font-size: 1.5rem;
  }

  .rodape__lista {
    display: flex;
    flex-direction: column;
  }

  .rodape__subtitulo {
    color: var(--cinza);
    font-size: .9rem;
    margin-bottom: 1rem;
  }

  .rodape__itens {
    align-items: center;
    display: flex;
    font-size: .9rem;
    margin-bottom: 1rem;
  }

  .rodape__itens-imagem {
    margin-right: .5rem;
  }

  .rodape__itens-link {
    color: var(--cinza-escuro);
    text-decoration: none;
  }
}

@media screen and (min-width: 1600px) {  

  .rodape__lista {
    border-left: 1px solid var(--cinza);
    padding-left: 1rem;
  }
}