.topicos {
  align-items: center;
  background: var(--azul-degrade);
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  text-align: center;
}

.titulo__secundario {
  color: var(--branco);
  font-weight: 300;
  margin: 1rem;
  text-transform: uppercase;
}

.topicos__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.topicos__item {
  background-color: var(--laranja-titulo);
  color: var(--branco);
  font-size: 14px;
  font-weight: 700;
  margin: .5rem;
  padding: 1rem;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {

  .topicos {
    padding: 2rem 4rem;
  }

  .titulo__secundario {
    font-size: 1.5rem;
    margin: 2rem;
  }

  .topicos__lista {
    max-width: 1070px;
    margin: 0;
  }

  .topicos__item {
    margin: 1rem;
    font-size: 1.5rem;
    padding: 2rem;
  }
}